.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

  }
  
  form {
    margin-bottom: 20px;
    background-color: aliceblue;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #ff1100;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .contact-details {
    margin-bottom: 20px;
  }
  
  .map-container {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .map-placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
  }
  .heading{
font-weight: 900;
  }
  .para{
    font-weight: 600;
    font-size: large;
  }